* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-flow: column nowrap;
}

.App .title {
  font-size: 50px;
  padding: 0px 20px 0px 20px;
  background-color: rgb(61, 5, 124);
  border-radius: 10px;
  border: 2px solid black;
  align-self: center;
  color: #fff;
}